body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.writePostBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #98ddca;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.inputComment {
  background-color: #cefff1;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid black;
}

.box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.navbar_item span {
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
