.comments {
  border-top: 1px solid gray;
  max-height: 300px;
  overflow: scroll;
}

.comment {
  display: flex;
  align-items: left;
  min-height: 50px;
  padding: 10px;
  border-top: 1px solid rgb(190, 190, 190);
}

.comment:first-child{
  border-Top: 0px;
}

.commentMain {
  display: flex;
  flex-direction: column;
}

.commentWriter {
  text-align: left;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.commentContent {
  width: 100%;
  text-align: justify;
}

.commentBtn {
  font-size: 0.7rem;
  color: rgb(87, 86, 86);
  cursor: pointer;
  margin-left: 5px;
}

.inputComment {
  display: flex;
}

.inputComment span {
  text-align: center;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
}
