.total {
  width: 1000px;
  /* height:360px; */
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: "NEXON Lv2 Gothic";
  position: relative;
}

.post {
  display: flex;
  border-bottom: 1px solid black;
}

.deletePostBtn {
  position: absolute;
  margin: 5px;
  cursor: pointer;
  right: 0px;
}

.image {
  width: 500px;
  height: 500px;
}

.photo {
  width: 500px;
  height: 500px;
  background-color: #98ddca;
}

.content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 15px;
}

.title {
  font-style: bold;
  font-size: 2rem;
}

.writer {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  color: gray;
  font-size: 1.2rem;
  cursor: pointer;
}

.postContent {
  text-align: justify;
  max-height: 400px;
  overflow: scroll;
  font-size: 1.3rem;
}

.date {
  text-align: right;
  color: gray;
  font-size: 1.2rem;
}

.option {
  display: flex;
  height: 60px;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: gray;
  font-size: 0.7rem;
}

.optionIcon {
  font-size: 25px;
}

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1023px) {
  .total {
    width: 600px;
  }

  .photo {
    width: 300px;
    height: 300px;
  }

  .content {
    width: 300px;
    height: 300px;
  }

  .title {
    font-size: 1.1rem;
  }

  .postContent {
    font-size: 0.9rem;
    max-height: 200px;
  }

  .writer {
    font-size: 0.8rem;
  }

  .date {
    font-size: 0.8rem;
  }
}
