.container{
  display:flex;
  font-size: 1.1rem;
  flex-direction: column;
  align-items: center;
}

.container span{
    display: flex;
    height: 100%;
    justify-content: stretch;
    align-items: stretch;
    font-weight: 600;
    cursor: pointer;
  }