@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  /* border-bottom: solid 1px #e8e8e8; */
  overflow: auto;
  box-shadow: 0 0 20px #c2c2c2;
  background-color: #98ddca;
  display: flex;
  align-items: center;
  font-family: "NanumSquareRound";
}

.container {
  display: flex;
  height: 100%;
  justify-content: stretch;
  align-items: stretch;
}

.menuLogo {
  font-family: "yg-jalnan";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menuLogo a {
  color: rgb(110, 110, 110);
  font-style: italic;
  font-weight: 1000;
  cursor: pointer;
}

.menuContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
}

.menuContent a {
  font-size: 1.2em;
  color: white;
}

.navbar_left {
  display: flex;
}

.navbar_right {
  display: flex;
}

.navbar_item {
  padding: 15px 15px;
}

.openMenuIcon{
  position: absolute;
  color: white;
  font-size: 1.5rem;
  left: 13px;
  top: 13px;
  cursor: pointer;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container{
  display: flex;
  flex-direction: column;
  display: none;
}

.openMenu{
  display: none;
}

.openMenuIcon{
  display: none;
}

@media screen and (max-width: 768px) {

  .menu {
    flex-direction: column;
  }

  .menuLogo {
    padding: 10px 0;
  }

  .menuContent {
    display: none;
  }

  .openMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .openMenuIcon{
    display: flex;
  }

  .navbar_item span{
    font-size: 0.9rem;
  }

  .container{
    display:flex;
    font-size: 1.1rem;
    border-bottom:1px solid white;
    align-items: center;
  }

  .container span{
    margin-bottom: 5px;
    color: grey;
  }
}