.message{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.messageTable{
    border:1px solid black;
    height: fit-content;
}

tr{
    border:1px solid black;
}

th{
    border:1px solid black;
}

td{
    border:1px solid black;
}